.post_container{
    text-align: center;
}

.post_container h3{
    display: flex;
    justify-content: center;
}

.post_container .tags{
    display: flex;
    justify-content: center;
}

.tags p {
    margin-right: 1em;
}

.tags span{
    font-weight: bold;
}